<div class="w-full">
    <h1 class="text-2xl">All Tasks</h1>

    <div class="w-96 h-30 bg-zinc-400 ">

        <h2 class="text-while "></h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit labore doloribus beatae?</p>
    </div>

</div>